body{
  font-family: 'Montserrat-black',sans-serif;
}
#title{
  background-color: #ff4c68;
  color: #FFF;
}
h1{
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 20% 7%;
}
/* nav bar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.nav-link{
  margin: 0 30px;
  font-size: 1.2rem;
  font-family: 'Montserrat-light',sans-serif;
}
.col-img{
  position: relative;
}
.iphone-img{
  transform: rotate(25deg);
  width: 58%;
  position: absolute;
  right: 25%;
}
/* download buttons */
.buttons{
  margin: 5% 3% 5% 0;
}


/* features */

#features{
  padding: 8% 20%;
  background-color: #fff;
  position: relative;

}
h3{
  font-family: 'Montserrat',sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
p{
  line-height: 2;
  color: #8f8f8f;
  padding-top: 1%;
}
.icon{
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1em;
}
.icon:hover{
  color: #ff4c68;
}
.block{
  text-align: center;
  padding: 0 5%;
}
/* testimonials */
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
}
h2{
  font-weight: bold;
  font-size: 3rem;
  line-height: 2;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.carousel-item{
    padding: 8% 20%;
}
.press-logo{
  width: 13%;
  margin: 20px 30px 50px;
}
/* pricing */
#pricing{
  padding: 100px 200px 100px 225px;
  text-align: center;
}
.pricing-coloumn {
  padding: 3% 2%;
  width: 30rem;
}
.h2-pricing{
  color: #ef8172;
}
/* media query breakpoint */
@media(max-width:1000px) {
  .iphone-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
/* call to action */
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 8% 25%;
}
.bottom-h3{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  line-height: 2;
}
.bottom-buttons{
  margin: 3% 1.5%;
}
/* footer */
#footer{
  text-align: center;
  padding: 8% 20%;
}
.footer-icon
{
  font-size: 1.5rem;
  margin: 1%;
}
